<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hatke cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div th:insert="homepage::navbar"></div><br>
<div class="main-block">
    <h1>Give your Feedback</h1>
    <h4 th:if="${param.error}">Bad credentials</h4>
    <div th:each="c :${feedbacks}">
    <form class="addFeedback" method="post" th:action="@{/feedback/}" >

        <h4 th:if="${param.error}">Bad credentials</h4>

        <div class="btn-block">
       <textarea id="description" name="description" th:value="${c.getDescription()}" rows="4" cols="50">
  </textarea>
            <br><br>
            <label for="status" >Change Status</label><br>
            <select  name="status" id="status"  placeholder="status" required >
                <option>Deactivated</option>
                <option>activated</option>
            </select>
            <button type="submit" >Submit</button>
        </div>
    </form>
    </div></div>
<div th:insert="homepage::footer"></div><br>
</body>
</body>
</html>