<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Hatke cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body class="quicksand">

<div th:insert="homepage::navbar"></div>
<div class="table-wrapper">
<table class="fl-table" style="width:100%">
    <div th:if="${loginStatus} and ${role}=='admin'">
    <thead><tr>
            <th> Name</th>
            <th>Description</th>
        </tr></thead>
        <tr th:each="c : ${items}">
            <td th:text="${c.getItemid().getItem()}"></td>
            <td th:text="${c.getItemid().getDescription()}"></td>
        </tr>

        <td th:if="${role}=='admin'"><form class="cart"method="post" th:action="@{/offer_items/{id}(id=${offer.id})}" >
            <h4 th:if="${param.error}">Bad credentials</h4>

            <label for="status" >Change Status</label><br>
            <select  name="status" id="status"  placeholder="status" required >
                <option>Deactivated</option>
                <option>activated</option>
            </select>

            <input type="submit" value="Submit">
        </form></td>
    </div>

    <div th:unless="${loginStatus} and ${role}=='admin'">
       <thead> <tr>
            <th> Name</th>
            <th>Description</th>
          </tr></thead>
        <tr th:each="c : ${items}">
            <td th:text="${c.getItemid().getItem()}"></td>
            <td th:text="${c.getItemid().getDescription()}"></td>
        </tr>

    </div>
</table></div>

<div style="margin-left: 100px" th:if="${loginStatus} and ${role}=='client'">
<form class="cart" method="post" th:action="@{/carto/{id}(id=${userid})}" >
    <h4 th:if="${param.error}">Bad credentials</h4>
    <label for="offer">Offer Id :</label><br>
    <input style="width: 50%" type="text" id="offer" name="offer"  th:value="${offer.id}" readonly><br>
    <label for="quantity">Quantity :</label><br>
    <input  id="quantity" type="number" min="1" max="100" name="quantity" th:value="${num}" required><br>
        <br><input style="width: 50%" type="submit" value="Add to Cart">
</form></div>
<br>
<div th:insert="homepage::footer"></div><br>
</body>
</html>
