<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hatke cafe</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<div class="main-block">
    <img  th:src="@{/images/logo.png}" alt="logo" style="width:150px;height:100px;alignment: center">
    <h1>Register Now</h1>
<form class="registration" th:action="@{/register}" method="POST" th:object="${user}">
    <p class="alert alert-danger" th:if="${emailError}">Invalid Email!! </p>
        <hr>
        <label for="email">Email<span>*</span></label><br>
        <input type="text" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter valid email" name="email"  th:field="*{email}" required>
        <hr>
        <label for="firstname">First Name<span>*</span></label>
        <input type="text" id="firstname" name="firstname"  th:field="*{firstName}" required><br>
       <br><label for="middlename">Middle Name</label>
       <input type="text" id="middlename" name="middlename"  th:field="*{middleName}"><br>
    <br>
    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastname"  th:field="*{lastName}" >
       <hr>
    <div class="container">
        <label for="password">Password<span>*</span></label>
        <input pattern=".{8,}" type="password" id="password" name="password" placeholder="8<=Password length<=20" th:field="*{password}" required>
        <i class="far fa-eye" id="togglePassword"></i>
        <script>
            const togglePassword = document.querySelector('#togglePassword');
            const password = document.querySelector('#password');
            togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
            });
        </script>
    </div>
       <hr>

        <label for="flat">Flat No.<span>*</span></label>
        <input type="text" id="flat" name="flat"  th:field="*{flatNo}" required><br>
        <br><label for="landmark">Landmark<span>*</span></label>
        <input type="text" id="landmark" name="landmark"  th:field="*{landmark}" required><br>
        <br><label for="locality">Locality<span>*</span></label>
        <input type="text" id="locality" name="locality"  th:field="*{locality}" required>
 <hr>
        <label for="contact">Contact Number<span>*</span></label>
        <input type="text" id="contact" name="contact"  th:field="*{phoneNo}" required>
  <hr>

    <div class="btn-block">
        <button type="submit" href="/">SUBMIT</button>
    </div>
</form>
</div>
</body>
</html>


