<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hatke cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<div th:insert="homepage::navbar"></div>
<div class="main-block">
<h1>Update Status</h1>
<form class="updateStatus"method="post" th:action="@{/updateStatus/{id}(id=${Id})}" >

    <label for="status" >Change Status</label><br>
    <select  name="status" id="status"  placeholder="Select status" required >
        <option>Pending</option>
        <option>Cooking</option>
        <option>Confirmed</option>
        <option>Cancelled</option>
        <option>Received</option>
        <option>Ready for Takeaway!!</option>
    </select>
    <div class="btn-block">
        <button type="submit" href="/">SUBMIT</button>
    </div>
</form></div>
<div th:insert="homepage::footer"></div><br>
</body>
</html>