<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Hatke cafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/homepage.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/form.css}">

</head>
<body>

<div th:insert="homepage::navbar"></div>
<div class="main-block">
<h1>Update Item</h1>
<form class="updateItem"method="post" th:action="@{/updateItem/{id}(id=${item.getId()})}" th:object="${item}">

    <h4 th:if="${param.error}">Bad credentials</h4>
    <label for="name">Name</label><br>
    <input type="text"  id="name" name="name" th:value="*{item}" required><br><br>
    <label for="price">Price(₹)</label><br>
    <input type="text" id="price" name="price" th:value="*{price}" required><br><br>
    <label for="quantity">Quantity</label><br>
    <input type="text" id="quantity" name="quantity" th:value="*{quantity}" required><br><br>
    <label for="description">Description</label><br>
    <input type="text" id="description" name="description" th:value="*{description}" required><br><br><hr>
    <label for="discount">Discount</label><br>
    <input type="text" id="discount" name="discount" th:value="*{discount}" required><br><br><hr>
    <div class="btn-block">
        <button type="submit" href="/">SUBMIT</button>
    </div>
</form></div>
<div th:insert="homepage::footer"></div><br>
</body>
</html>